* {box-sizing: border-box;}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.fila {
  width: 100%;
  height: 33.3333%;
}

.celda {
  border: thin solid black;
  width: 33.33333%;
  float: left;
  height: 100%;
  font-size: 50px;
  text-align: center;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 2px red;
  font-family: ubuntu;
  font-size: 60px;
}
